@font-face {
    font-family: 'work-sans';
    src: url('../fonts/WorkSans-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.ttf') format("opentype");
}

@font-face {
    font-family: 'digit';
    src: url('../fonts/DS-DIGIT.ttf') format("opentype");
}

html,body{
    font-family: 'Ubuntu';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

.img-responsive2{
    max-width: 100%;
    height: auto;
}

.center{
    text-align: center;
}

.hide{
    display: none !important;
}

.card *{
    word-wrap: break-word !important;
    white-space: normal;
}

.img-icon{
    background-color: #FE0000;
    color: #fff;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 1.6em;
    border-radius: 16px;
    text-transform: uppercase;
}

.logo-img{
    background-color: #03a9f4;
    padding: 4px;
    border-radius: 2px;
    max-width: 160px;
    margin: 10px auto;
    text-align: center;
}

.supervisor{
    text-transform: uppercase;
}

.time-section{

    text-align: center;
}

.time-section span{
    font-family: digit;
    font-size: 24px;
}